// COLORS

$main-color: #3cc3b5;
$menu-bg: lighten($main-color, 4%);
$btn-bg: #3cc395;
$ftr-bg: rgba(0,0,0,.13);
$font-price-color: #a1a1a1;
$brand-title-color: #afafaf;

// FONTS

$font-logo: Lobster, cursive;
$font-main: Bebas Neue Bold, sans-serif;
$font-desc: Open Sans, sans-serif;

$font-19: 1em;
$font-27: 1.438em; //23/16 = 1.438

//SIZE 

$dropdown-height: 1.9375em;
$caret-pos: 1.9375em/1.7;
