/* ========================================================================== */
/*                                                                            */
/*                             RESET
/* ========================================================================== */


@import 'normalize';

ul,
ol {
  margin: 0;
  padding: 0;
}


/* ========================================================================== */
/*                                                                            */
/*                             FONT
/* ========================================================================== */

@import 'font';

/* ========================================================================== */
/*                                                                            */
/*                             BASE
/* ========================================================================== */

@import 'vars';

html {
  background-color: #fff;
}

body {
  color: #fff;

  font-size: 100%;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  background-color: $menu-bg;
}


.btn {
  display: inline-block;

  box-sizing: border-box;

  text-align: center;
  text-decoration: none;

  color: #fff;
  border-radius: .188em;
  background-color: $btn-bg;

  font-family: 'Bebas Neue Bold';
  font-size: $font-19;
  line-height: 100%;
}
