/* ========================================================================== */
/*                                                                            */
/*                             RESET
/* ========================================================================== */


@import 'normalize';

ul,
ol {
  margin: 0;
  padding: 0;
}


/* ========================================================================== */
/*                                                                            */
/*                             FONT
/* ========================================================================== */

@import 'font';

/* ========================================================================== */
/*                                                                            */
/*                             BASE
/* ========================================================================== */

@import 'vars';

html {
  background-color: #fff;
}

body {
  color: #fff;

  font-family: $font-main;
  font-size: 100%;
}

nav {
  background-color: $menu-bg;
}


.btn {
  display: inline-block;

  box-sizing: border-box;

  text-align: center;
  text-decoration: none;

  color: #fff;

  font-family: $font-main;
}
