.hdr-banner
    .container
        .gallery.js-flickity(data-flickity-options={
        prevNextButtons: false,
        wrapAround: true,
        })
            .gallery-cell.row
                .l-left
                    img(src="img/bnr-shirt-w.png", alt="Shirt")
                .l-right
                    p.bnr-title Cowhide
                    p.bnr-title Standard Crew
                    p.bnr-desc White coloured, short-sleeved, printed T-shirt for men by Levi's. This crew-neck T-shirt is made of organic cotton and comes in a regular fit.
                    a(href="").btn.bnr-btn Shop now
            .gallery-cell.row
                .l-left
                    img(src="img/bnr-shirt-y.png", alt="Shirt")
                .l-right
                    p.bnr-title Cowhide
                    p.bnr-title Standard Crew
                    p.bnr-desc Yellow coloured, short-sleeved, printed T-shirt for men by Levi's. This crew-neck T-shirt is made of organic cotton and comes in a regular fit.
                    a(href="").btn.bnr-btn Shop now
            .gallery-cell.row
                .l-left
                    img(src="img/bnr-shirt-b.png", alt="Shirt")
                .l-right
                    p.bnr-title Cowhide
                    p.bnr-title Standard Crew
                    p.bnr-desc Blue coloured, short-sleeved, printed T-shirt for men by Levi's. This crew-neck T-shirt is made of organic cotton and comes in a regular fit.
                    a(href="").btn.bnr-btn Shop now
            .gallery-cell.row
                .l-left
                    img(src="img/bnr-shirt-g.png", alt="Shirt")
                .l-right
                    p.bnr-title Cowhide
                    p.bnr-title Standard Crew
                    p.bnr-desc Green coloured, short-sleeved, printed T-shirt for men by Levi's. This crew-neck T-shirt is made of organic cotton and comes in a regular fit.
                    a(href="").btn.bnr-btn Shop now
            .gallery-cell.row
                .l-left
                    img(src="img/bnr-shirt-p.png", alt="Shirt")
                .l-right
                    p.bnr-title Cowhide
                    p.bnr-title Standard Crew
                    p.bnr-desc Purple coloured, short-sleeved, printed T-shirt for men by Levi's. This crew-neck T-shirt is made of organic cotton and comes in a regular fit.
                    a(href="").btn.bnr-btn Shop now