footer
    .footer-top
        .container
            .row.l-centered
                .footer-top-col
                    h4.footer-col-title FEATURED SALE
                    +list(footerLink).footer-col-list
                .footer-top-col
                    h4.footer-col-title MENS STORE
                    +list(footerLink).footer-col-list
                .footer-top-col
                    h4.footer-col-title WOMEN STORE
                    +list(footerLink).footer-col-list
                .footer-top-col
                    h4.footer-col-title QUICK LINKS
                    +list(footerLink).footer-col-list
    .footer-bottom
        .container
            span.copyright Copyright © 2015 Css Author
