.container
    section.main-gallery.l-centered
        .row
            .main-gallery-item
                img(src="img/ftr-item-1.png", alt="branded shoes")
                .item-info
                    h4.item-title branded shoes
                    span.itm-price $300
                    a(href="").btn.item-btn buy now
            .main-gallery-item
                img(src="img/ftr-item-2.png", alt="branded tees")
                .item-info
                    h4.item-title branded tees
                    span.itm-price $300
                    a(href="").btn.item-btn buy now
            .main-gallery-item
                img(src="img/ftr-item-3.png", alt="branded shoes")
                .item-info
                    h4.item-title branded shoes
                    span.itm-price $300
                    a(href="").btn.item-btn buy now
        .row
            .main-gallery-item
                img(src="img/ftr-item-4.png", alt="branded shoes")
                .item-info
                    h4.item-title branded shoes
                    span.itm-price $300
                    a(href="").btn.item-btn buy now
            .main-gallery-item
                img(src="img/ftr-item-5.png", alt="EMS Women bag")
                .item-info
                    h4.item-title EMS Women bag
                    span.itm-price $300
                    a(href="").btn.item-btn buy now
            .main-gallery-item
                img(src="img/ftr-item-3.png", alt="branded shoes")
                .item-info
                    h4.item-title branded shoes
                    span.itm-price $300
                    a(href="").btn.item-btn buy now