.container
    section.main-gallery.l-centered
        .row
            .main-gallery-item
                img(src="img/ftr-item-1.png", alt="branded shoes")
                h4.item-title branded shoes
                .price-info
                    .item-price $300
                    a(href="").btn.item-btn buy now
            .main-gallery-item
                img(src="img/ftr-item-2.png", alt="branded tees")
                h4.item-title branded tees
                .price-info
                    .item-price $300
                    a(href="").btn.item-btn buy now
            .main-gallery-item
                img(src="img/ftr-item-3.png", alt="branded shoes")
                h4.item-title branded shoes
                .price-info
                    .item-price $300
                    a(href="").btn.item-btn buy now
            .main-gallery-item
                img(src="img/ftr-item-4.png", alt="branded shoes")
                h4.item-title branded shoes
                .price-info
                    .item-price $300
                    a(href="").btn.item-btn buy now
            .main-gallery-item
                img(src="img/ftr-item-5.png", alt="EMS Women bag")
                h4.item-title EMS Women bag
                .price-info
                    .item-price $300
                    a(href="").btn.item-btn buy now
            .main-gallery-item
                img(src="img/ftr-item-3.png", alt="branded shoes")
                h4.item-title branded shoes
                .price-info
                    .item-price $300
                    a(href="").btn.item-btn buy now