header
    .hdr-top
        .container
            .row
                .l-logo.logo Aditii
                .l-cart.cart
                    svg.icon.icon-cart
                        use(xlink:href="#icon-cart")
                    .price $300
                .l-search.search
                    ul.test
                        li foo
                        li boo
                        li moo
                    input(type="text", name="search").search-input
    nav
        .container
            +list(menuItem).row.l-menu.menu
    // BANNER
    include banner
    // BANNER ends
    // slider
    include slider
    // slider ends