.hdr-slider
    .container
        ul.sldr-list.js-flickity(data-flickity-options={
        cellAlign: 'left',
        pageDots: false,
        wrapAround: true
        })
            li.sldr-list-item.row
                img(src="img/sldr-pic-1.png", alt="branded shoes")
                .slsr-list-right
                    p branded
                    p shoes
                    a(href="").btn.sldr-btn shop
            li.sldr-list-item.row
                img(src="img/sldr-pic-2.png", alt="branded tshirts")
                .slsr-list-right
                    p branded
                    p tshirts
                    a(href="").btn.sldr-btn shop
            li.sldr-list-item.row
                img(src="img/sldr-pic-1.png", alt="branded shoes")
                .slsr-list-right
                    p branded
                    p shoes
                    a(href="").btn.sldr-btn shop
            li.sldr-list-item.row
                img(src="img/sldr-pic-1.png", alt="branded shoes")
                .slsr-list-right
                    p branded
                    p shoes
                    a(href="").btn.sldr-btn shop
            li.sldr-list-item.row
                img(src="img/sldr-pic-2.png", alt="branded tshirts")
                .slsr-list-right
                    p branded
                    p tshirts
                    a(href="").btn.sldr-btn shop
            li.sldr-list-item.row
                img(src="img/sldr-pic-1.png", alt="branded shoes")
                .slsr-list-right
                    p branded
                    p shoes
                    a(href="").btn.sldr-btn shop