/* ========================================================================== */
/*                                                                            */
/*                             LAYOUT
/* ========================================================================== */


.container {
  box-sizing: border-box;
  width: 100%;
  max-width: 1024px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1.125em;
  padding-left: 1.125em;
}

.row {
  display: flex;
  flex-direction: row;

  box-sizing: border-box;

  flex-wrap: wrap;
}

@media screen and (max-width:768px) {
  .hdr-top .row {
    display: block;
  }
}


.l-logo {
  flex-basis: 28.340080972%;
  order: 1;
}
.l-cart {
  flex-basis: 27.530364372%;
  order: 3;
}

.l-search {
  flex-basis: 44.129554656%;
  order: 2;
}

.l-cart {
  justify-content: flex-end;
}

.l-logo,
.l-search,
.l-cart {
  @include f-center;
}

.l-menu {
  justify-content: space-between;
}

.l-left {
  margin-right: 5.9375em;
  margin-left: 4.1875em;
  padding-top: 1em;
}

.l-right {
  width: 42.5%;
  padding-top: 4.375em;

  align-self: stretch;
}

.l-centered {
  box-sizing: border-box;
  width: 88.967611336%;
  margin-right: auto;
  margin-left: auto;
}
