.hdr-banner {
  background-color: $main-color;
  background-image: radial-gradient(circle, $main-color, darken($main-color, 2%), darken($main-color, 4%));
  background-size: .2em .2em;
  box-shadow: inset 0 3px 3px -3px rgba(0, 0, 0, .3);
}

.gallery .flickity-page-dots {
  bottom: 2.125em;
}

.gallery .flickity-page-dots .dot {
  width: .5625em;
  height: .5625em;

  opacity: 1;
  background: #fff;
}

.gallery .flickity-page-dots .dot.is-selected {
  background: rgba(255,255,255,.5);
}

.gallery {
  width: 100%;
  height: auto;
  max-height: 27.875em;
}

.gallery-cell {
  width: 100%;
  min-height: 27.875em;

  align-items: center;
  img {
    display: block;

    max-width: 100%;
    margin: 0 auto;
  }
}

.bnr-title {
  margin: 0;

  font-family: $font-main;
  font-size: 3.5em;
}

.bnr-title:nth-of-type(2) {
  margin-top: -.179em;
}

.bnr-desc {
  width: 90%;
  margin-top: .5em;
  margin-bottom: 1.8em;

  font-family: $font-desc;
  font-size: 1em;
}

.bnr-btn {
  padding-top: .4em;
  padding-right: 1.087em;
  padding-bottom: .4em;
  padding-left: 1.087em;

  border: .144em solid #fff;
  border-radius: .304em;
  background-color: transparent;

  font-size: $font-27;
}


@media screen and (max-width:670px) {
  .bnr-title {
    font-size: 3em;
  }

  .gallery .flickity-page-dots {
    bottom: 1em;
  }
}

@media screen and (max-width:590px) {
  .bnr-title {
    font-size: 2.3em;
  }

  .bnr-desc {
    margin-bottom: 1em;

    font-size: .9em;
  }

  .gallery-cell {
    min-height: 24em;
  }

  .bnr-btn {
    font-size: 1.3em;
  }
}

@media screen and (max-width:480px) {
  .bnr-desc {
    display: none;
  }

  .bnr-title {
    text-shadow: 1px 1px 0 rgba(0,0,0,.5);
  }

  .bnr-btn {
    position: absolute;
    right: 1em;
    bottom: 1em;

    box-shadow: 0 0 1px 0 rgba(0,0,0,.5);
  }

  .gallery .flickity-page-dots {
    display: none;
  }
}
