.icon-cart {
  width: 20%;
  height: 2.25em;
  padding: .3125em;

  fill: $main-color;
}

.price {
  box-sizing: border-box;
  padding-top: .25em;

  color: $font-price-color;

  font-family: 'Bebas Neue Bold';
  font-size: 1.838em;
}

//width: 41px;
//height: 37px;

@media screen and (max-width:768px) {
  .cart {
    width: 45%;

    transition: all .4s ease;

    font-size: 1.1em;
  }
}
