.cart {
  padding-top: .35em;
  padding-bottom: .35em;
}

.icon-cart {
  display: inline-block;

  width: 2.563em;
  height: 2.313em;
}

.price {
  box-sizing: border-box;
  margin-left: .4081em;
  padding-top: .25em;

  color: $font-price-color;

  font-family: 'Bebas Neue Bold';
  font-size: 1.838em;
}

#icon-cart {
  font-size: 1.838em;

  fill: $main-color;
}

@media screen and (max-width:90px) {
  .cart {
    width: 50%;

    transition: all .4s ease;
  }
}
