.icon-cart {
  width: em(41);
  height: em(36);
  padding: em(5);

  fill: $main-color;
}

.price {
  box-sizing: border-box;
  padding-top: em(4);

  color: $font-price-color;
  //  font-weight: 900;

  font-family: 'Bebas Neue Bold';
  font-size: em(34);
}
