.main-gallery {
  margin-top: 2.9375em;
  margin-bottom: 1.625em;
}

.main-gallery-item {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  width: 29.010238908%;
  max-width: 255px;
  max-height: 260px;
  margin-right: 6.484641638%;
  margin-bottom: 5.348%;
  padding-top: 3.641%;
  padding-bottom: 3.414%;

  color: $brand-title-color;
  border-bottom: .313em solid $btn-bg;
  box-shadow: 0 0 .188em $brand-title-color;

  align-items: center;
  justify-content: flex-end;
}

.main-gallery-item:last-child {
  margin-right: 0;
}

.main-gallery-item img {
  max-width: 100%;
}

.item-title {
  margin-top: .3em;
  margin-bottom: .304em;

  letter-spacing: .04em;

  font-size: 1.438em; //23/16 = 1.438
  line-height: 100%;
}

.price-info {
  width: 100%;

  @include f-center;
  justify-content: center;
}

.item-price {
  display: block;

  margin-right: .65em;

  font-family: 'Bebas Neue Bold';
  font-size: 1.438em; //23/16 = 1.438
  line-height: 100%;
}

.item-btn {
  padding: .4386em .7143em;

  border-radius: .188em;
  background-color: $btn-bg;

  font-family: 'Bebas Neue Bold';
  font-size: 1em;
  line-height: 100%;
}
