.main-gallery {
  margin-top: 47px;
  margin-bottom: 26px;
}


.main-gallery-item {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  height: 260px;
  width: 255px;
  margin-right: 6.484641638%;
  margin-bottom: 47px;
  padding-bottom: 30px;

  color: $brand-title-color;
  border-bottom: 5px solid $main-color;
  box-shadow: 0 0 3px $brand-title-color;

  align-items: center;
  justify-content: flex-end;
}

.main-gallery-item:last-child {
  margin-right: 0;
}

.item-info {
  text-align: center;
}

.item-title {
  margin-top: .3em;
  margin-bottom: .3em;

  font-size: em(27);
}

.itm-price {
  margin-right: .5em;

  vertical-align: bottom;

  font-size: em(27);
  font-weight: 900;
}

.item-btn {
  padding-right: em(10);
  padding-left: em(10);

  border-radius: 3px;
  background-color: $btn-bg;

  font-size: em(21);
  font-weight: 900;
  line-height: em(27);
}


//74,5 отступы от галлерии
//875 ширина галлерии
//759 ширана всех плиток без отступов
//58 маржин между плитками

//255 ширина одной плитки
//765 ширина всех плиток
//57 ширина маржинов 
//114 two margin
//879 ширина галеры

//85.44921875%  ширина галлерии
//81.93359375% ширина галлерии c отступов

//879÷1024 = 85.83984375%
//879÷988 = 88.967611336%
//57÷879 = 6.484641638%

