.main-gallery {
  margin-top: 2.9375em;
  margin-bottom: 1.625em;
}

.main-gallery-item {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  width: 29.010238908%;
  max-width: 255px;
  max-height: 260px;
  margin-right: 6.484641638%;
//  margin-bottom: 5.348%;
  margin-bottom: 2.938em;
  padding-top: 2.000em;
  padding-bottom: 1.875em;

  color: $brand-title-color;
  border-bottom: .313em solid $btn-bg;
  box-shadow: 0 0 .188em $brand-title-color;

  align-items: center;
  justify-content: flex-end;
}

.main-gallery-item:last-child {
  margin-right: 0;
}

.main-gallery-item img {
  max-width: 100%;
}

.item-title {
  margin-top: .3em;
  margin-bottom: .304em;

  letter-spacing: .04em;

  font-size: $font-27;
  line-height: 100%;
}

.price-info {
  width: 100%;

  @include f-center;
  justify-content: center;
}

.item-price {
  display: block;

  margin-right: .65em;

  font-family: $font-bold;
  font-size: $font-27;
  line-height: 100%;
}

.item-btn {
  padding: 0.563em .7143em;
}
