.menu li {
  list-style: none;
}

.menu li a {
  display: block;

  width: 100%;

  text-decoration: none;

  color: #fff;

  font-family: $font-main;
}

.menu[role='horizontal'] {
  box-sizing: border-box;
  height: 2.25em;

  list-style: none;

  justify-content: space-between;
}

.menu[role='horizontal'] li {
  @include f-center;
}

.menu[role='horizontal'] li:not(:last-child)::after {
  box-sizing: border-box;
  height: 1.065em;

  content: '';

  border-left: 2px solid #fff;
}

.menu[role='horizontal'] li a {
  padding-right: 1.438em;
  padding-left: 1.438em;

  font-size: 1.1em;
  line-height: 2.25em;
}

.menu[role='horizontal'] li:first-child a {
  padding-left: 0;
}

.menu[role='horizontal'] li:last-child a {
  padding-right: 0;
}

.dropdown {
  position: relative;

  display: none;

  box-sizing: border-box;
  height: $dropdown-height;
  margin-right: .8em;
  padding-right: 1.5em;
  padding-left: .8em;

  background-color: $main-color;
  &:hover > ul {
    visibility: visible;

    margin-top: 0;

    opacity: 1;
  }
}

.dropdown-title {
  font-family: $font-main;
  font-size: 1em;
  line-height: $dropdown-height;
}

.menu[role='dropdown'] {
  position: absolute;
  z-index: 5;
  top: 10;
  left: 0;

  visibility: hidden;

  margin-top: .5em;

  transition: all .2s ease-in-out;

  opacity: 0;
  background-color: $main-color;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.35);
}

.menu[role='dropdown'] li {
  border-bottom: 1px solid #fff;
}

.menu[role='dropdown'] li a {
  padding-top: .4em;
  padding-right: .8em;
  padding-bottom: .4em;
  padding-left: .8em;

  font-size: 1em;
}

.menu[role='dropdown'] li:last-child {
  border: none;
}

.caret {
  position: relative;
  top: -$caret-pos;
  right: -100%;

  margin-left: .4em;
}

.caret:before {
  position: absolute;
  top: 0;
  left: 0;

  content: '';

  border-top: .353em solid #fff;
  border-right: .353em solid transparent;
  border-left: .353em solid transparent;
}

.caret:after {
  position: absolute;
  top: 0;
  left: 2px;

  content: '';

  border-top: .235em solid $main-color;
  border-right: .235em solid transparent;
  border-left: .235em solid transparent;
}


@media screen and (max-width:1016px) {
  .menu[role='horizontal'] li a {
    padding-right: 1.3em;
    padding-left: 1.3em;
  }
}

@media screen and (max-width:957px) {
  .menu[role='horizontal'] li a {
    padding-right: 1.2em;
    padding-left: 1.2em;
  }
}

@media screen and (max-width:926px) {
  .menu[role='horizontal'] li a {
    padding-right: 1.1em;
    padding-left: 1.1em;
  }
}

@media screen and (max-width:894px) {
  .menu[role='horizontal'] li a {
    font-size: 1.05em;
  }
}

@media screen and (max-width:855px) {
  .menu[role='horizontal'] li a {
    padding-right: 1em;
    padding-left: 1em;
  }
}

@media screen and (max-width:825px) {
  .menu[role='horizontal'] li a {
    font-size: 1em;
  }
}

@media screen and (max-width:790px) {
  nav {
    display: none;
  }

  .dropdown {
    display: block;
  }
}
