.menu {
  box-sizing: border-box;
  height: 2.25em;

  list-style: none;
}

.menu li {
  @include f-center;
}

.menu li a {
  text-decoration: none;

  color: #fff;

  font-family: $font-main;
  font-size: 1.1em;
}

.menu li:not(:last-child)::after {
  display: block;

  box-sizing: border-box;
  width: 2px;
  height: 1.065em;
  margin-right: 1.5em;
  margin-left: 1.5em;

  content: '';

  background-color: #fff;
}
