.sldr-list-item {
  box-sizing: border-box;
  width: 34.412955466%;
  min-height: 192px;

  justify-content: space-between;
  p {
    margin: 0;
    margin-top: -.2em;
    padding: 0;

    color: $brand-title-color;

    font-size: $font-27;
    font-family: $font-bold;
  }
  img {
    max-width: 100%;
    align-self: center;
  }
}

.slsr-list-right {
  max-width: 40%;
  margin-right: 4.3em;
  margin-left: -2em;
  padding-top: 3em;
}

.sldr-list-item:not(:last-child) {
  border-right: 1px solid #e7e7e7;
}

.sldr-btn {
  margin-top: .85em;
  padding: 0.5em 0.938em;
}


.sldr-list .flickity-prev-next-button {
  width: 5.500em;
  height: 5.500em;

  border-radius: 0;
  background: transparent;
}

.flickity-prev-next-button svg {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

.flickity-prev-next-button .arrow {
  fill: #dbdbdb;
}

.flickity-prev-next-button.previous {
  left: -7em;
}
.flickity-prev-next-button.next {
  right: -7em;
}

.flickity-prev-next-button:focus {
  outline: none;
  box-shadow: none;
}
