.hdr-slider {
  height: 11.875em;
}

.sldr-list-item {
  box-sizing: border-box;
  min-width: 33.333333333%;
  min-height: 11.875em;

  border-right: 1px solid #e7e7e7;

  justify-content: space-between;
  p {
    margin: 0;
    margin-top: -.2em;
    padding: 0;

    color: $brand-title-color;

    font-family: $font-main;
    font-size: $font-27;
  }
  img {
    max-width: 100%;
    margin-left: 1px;

    align-self: center;
  }
}

.slsr-list-right {
  box-sizing: border-box;
  margin-right: 20.06%;
  margin-left: -2em;
  padding-top: 3em;
}

.sldr-btn {
  margin-top: .85em;
  padding: .5em .938em;
}

.sldr-list .flickity-prev-next-button {
  width: 5.500em;
  height: 5.500em;

  border-radius: 0;
  background: transparent;
}

.flickity-prev-next-button:focus {
  outline: none;
  box-shadow: none;
}

.flickity-prev-next-button svg {
  display: none;
}

.flickity-prev-next-button.previous {
  position: relative;
  top: -6.4em;
  left: -7%;
}

.flickity-prev-next-button.previous:before {
  position: absolute;
  top: 0;
  left: 0;

  content: '';

  border-top: 50px solid transparent;
  border-right: 50px solid #e2e2e2;
  border-bottom: 50px solid transparent;
}

.flickity-prev-next-button.previous:after {
  position: absolute;
  top: 1px;
  left: 1px;

  content: '';

  border-top: 49px solid transparent;
  border-right: 49px solid #fff;
  border-bottom: 49px solid transparent;
}

.flickity-prev-next-button.next {
  position: relative;
  top: -6.4em;
  right: -93%;
}

.flickity-prev-next-button.next:before {
  position: absolute;
  top: 0;
  left: 0;

  content: '';

  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 50px solid #e2e2e2;
}

.flickity-prev-next-button.next:after {
  position: absolute;
  top: 1px;
  left: 0;

  content: '';

  border-top: 49px solid transparent;
  border-bottom: 49px solid transparent;
  border-left: 49px solid #fff;
}


@media screen and (max-width:1010px) {
  .slsr-list-right {
    margin-right: 15%;
  }

  .flickity-prev-next-button {
    display: none;
  }
}

@media screen and (max-width:950px) {
  .slsr-list-right {
    margin-right: 10%;
  }
}

@media screen and (max-width:900px) {
  .slsr-list-right {
    margin-right: 5%;
  }
}

@media screen and (max-width:860px) {
  .slsr-list-right {
    margin-right: 1%;
  }
  .sldr-list-item p {
    font-size: 1.3em;
  }
}

@media screen and (max-width:790px) {
  .slsr-list-right {
    position: absolute;
    top: 0;
    left: 0;

    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: .5em;
  }

  .sldr-list-item img {
    margin: 0 auto;
  }

  .slsr-list-right p {
    margin: 0;
    padding: 0;

    text-shadow: 1px 1px 0 rgba(255,255,255,.5);
  }

  .sldr-btn {
    position: absolute;
    right: .5em;
    bottom: .5em;
  }
}

@media screen and (max-width:480px) {
  .slsr-list-right p {
    float: left;

    margin-right: .3em;

    font-size: 1.2em;
  }

  .sldr-btn {
    font-size: .9em;
  }

  .sldr-list-item {
    width: 50%;
  }
}
