/*! Flickity v1.0.0
http://flickity.metafizzy.co
---------------------------------------------- */
.flickity-enabled {
  position: relative; }

.flickity-enabled:focus {
  outline: none; }

.flickity-viewport {
  position: relative;
  overflow: hidden;
  height: 100%; }

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%; }

/* draggable */
.flickity-enabled.is-draggable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab; }

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing; }

/* ---- previous/next buttons ---- */
.flickity-prev-next-button {
  position: absolute;
  top: 50%;
  width: 44px;
  height: 44px;
  cursor: pointer;
  /* vertically center */
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border: none;
  border-radius: 50%;
  background: white;
  background: rgba(255, 255, 255, 0.75); }

.flickity-prev-next-button:hover {
  background: white; }

.flickity-prev-next-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #09f; }

.flickity-prev-next-button:active {
  opacity: .6;
  filter: alpha(opacity=60);
  /* IE8 */ }

.flickity-prev-next-button.previous {
  left: 10px; }

.flickity-prev-next-button.next {
  right: 10px; }

/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
  right: 10px;
  left: auto; }

.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px; }

.flickity-prev-next-button:disabled {
  cursor: auto;
  opacity: .3;
  filter: alpha(opacity=30);
  /* IE8 */ }

.flickity-prev-next-button svg {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 60%;
  height: 60%; }

.flickity-prev-next-button .arrow {
  fill: #333; }

/* color & size if no SVG - IE8 and Android 2.3 */
.flickity-prev-next-button.no-svg {
  color: #333;
  font-size: 26px; }

/* ---- page dots ---- */
.flickity-page-dots {
  position: absolute;
  bottom: -25px;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  line-height: 1; }

.flickity-rtl .flickity-page-dots {
  direction: rtl; }

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  cursor: pointer;
  opacity: .25;
  border-radius: 50%;
  background: #333;
  filter: alpha(opacity=25);
  /* IE8 */ }

.flickity-page-dots .dot.is-selected {
  opacity: 1;
  filter: alpha(opacity=100);
  /* IE8 */ }

/* ========================================================================== */
/*                                                                            */
/*                             RESET
/* ========================================================================== */
/**
* 1. Set default font family to sans-serif.
* 2. Prevent iOS text size adjust after orientation change, without disabling
*    user zoom.
*/
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
* Remove default margin.
*/
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
* Correct `block` display not defined for any HTML5 element in IE 8/9.
* Correct `block` display not defined for `details` or `summary` in IE 10/11
* and Firefox.
* Correct `block` display not defined for `main` in IE 11.
*/
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/**
* 1. Correct `inline-block` display not defined in IE 8/9.
* 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
*/
audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
* Prevent modern browsers from displaying `audio` without controls.
* Remove excess height in iOS 5 devices.
*/
audio:not([controls]) {
  display: none;
  height: 0; }

/**
   * Address `[hidden]` styling not present in IE 8/9/10.
   */
[hidden] {
  display: none; }

/**
* Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
*/
template {
  display: none; }

/* Links
   ========================================================================== */
/**
   * Remove the gray background color from active links in IE 10.
   */
a {
  background-color: transparent; }

/**
* Improve readability when focused and also mouse hovered in all browsers.
*/
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
* Address styling not present in IE 8/9/10/11, Safari, and Chrome.
*/
abbr[title] {
  border-bottom: 1px dotted; }

/**
* Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
*/
b, strong {
  font-weight: bold; }

/**
* Address styling not present in Safari and Chrome.
*/
dfn {
  font-style: italic; }

/**
* Address variable `h1` font-size and margin within `section` and `article`
* contexts in Firefox 4+, Safari, and Chrome.
*/
h1 {
  font-size: 2em;
  margin: 0.6666666667em 0; }

/**
   * Address styling not present in IE 8/9.
   */
mark {
  background: #ff0;
  color: #000; }

/**
* Address inconsistent and variable font size in all browsers.
*/
small {
  font-size: 80%; }

/**
* Prevent `sub` and `sup` affecting `line-height` in all browsers.
*/
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
   * Remove border when inside `a` element in IE 8/9/10.
   */
img {
  border: 0; }

/**
   * Correct overflow not hidden in IE 9/10/11.
   */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
   * Address margin not present in IE 8/9 and Safari.
   */
figure {
  margin: 1em 40px; }

/**
* Address differences between Firefox and other browsers.
*/
hr {
  box-sizing: content-box;
  height: 0; }

/**
* Contain overflow in all browsers.
*/
pre {
  overflow: auto; }

/**
* Address odd `em`-unit font size rendering in all browsers.
*/
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
* Known limitation: by default, Chrome and Safari on OS X allow very limited
* styling of `select`, unless a `border` property is set.
*/
/**
* 1. Correct color not being inherited.
*    Known issue: affects color of disabled elements.
* 2. Correct font properties not being inherited.
* 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
*/
button, input, optgroup, select, textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
   * Address `overflow` set to `hidden` in IE 8/9/10/11.
   */
button {
  overflow: visible; }

/**
* Address inconsistent `text-transform` inheritance for `button` and `select`.
* All other form control elements do not inherit `text-transform` values.
* Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
* Correct `select` style inheritance in Firefox.
*/
button, select {
  text-transform: none; }

/**
* 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
*    and `video` controls.
* 2. Correct inability to style clickable `input` types in iOS.
* 3. Improve usability and consistency of cursor style between image-type
*    `input` and others.
*/
button, html input[type='button'], input[type='reset'], input[type='submit'] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
* Re-set default cursor for disabled elements.
*/
button[disabled], html input[disabled] {
  cursor: default; }

/**
* Remove inner padding and border in Firefox 4+.
*/
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
* Address Firefox 4+ setting `line-height` on `input` using `!important` in
* the UA stylesheet.
*/
input {
  line-height: normal; }

/**
   * It's recommended that you don't attempt to style these elements.
   * Firefox's implementation doesn't respect box-sizing, padding, or width.
   *
   * 1. Address box sizing set to `content-box` in IE 8/9/10.
   * 2. Remove excess padding in IE 8/9/10.
   */
input[type='checkbox'], input[type='radio'] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
* Fix the cursor style for Chrome's increment/decrement buttons. For certain
* `font-size` values of the `input`, it causes the cursor style of the
* decrement button to change from `default` to `text`.
*/
input[type='number']::-webkit-inner-spin-button, input[type='number']::-webkit-outer-spin-button {
  height: auto; }

/**
* 1. Address `appearance` set to `searchfield` in Safari and Chrome.
* 2. Address `box-sizing` set to `border-box` in Safari and Chrome
*    (include `-moz` to future-proof).
*/
input[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

/**
* Remove inner padding and search cancel button in Safari and Chrome on OS X.
* Safari (but not Chrome) clips the cancel button when the search input has
* padding (and `textfield` appearance).
*/
input[type='search']::-webkit-search-cancel-button, input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
* Define consistent border, margin, and padding.
*/
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
* 1. Correct `color` not being inherited in IE 8/9/10/11.
* 2. Remove padding so people aren't caught out if they zero out fieldsets.
*/
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
   * Remove default vertical scrollbar in IE 8/9/10/11.
   */
textarea {
  overflow: auto; }

/**
* Don't inherit the `font-weight` (applied by a rule above).
* NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
*/
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
* Remove most spacing between table cells.
*/
table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

ul, ol {
  margin: 0;
  padding: 0; }

/* ========================================================================== */
/*                                                                            */
/*                             FONT
/* ========================================================================== */
/* ========================================================================== */
/*                                                                            */
/*                             FONT
/* ========================================================================== */
@font-face {
  font-family: 'Bebas Neue Bold';
  font-weight: normal;
  font-style: normal;
  src: url('../font/bebasneue_bold-webfont.woff') format('woff'), url('../font/bebasneue_bold-webfont.ttf') format('truetype'); }

@font-face {
  font-family: 'Lobster';
  font-weight: normal;
  font-style: normal;
  src: url('../font/lobster_1.3-webfont.woff') format('woff'), url('../font/lobster_1.3-webfont.ttf') format('truetype'); }

@font-face {
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: normal;
  src: url('../font/opensans-regular-webfont.woff') format('woff'), url('../font/opensans-regular-webfont.ttf') format('truetype'); }

/* ========================================================================== */
/*                                                                            */
/*                             BASE
/* ========================================================================== */
html {
  background-color: #fff; }

body {
  color: #fff;
  font-size: 100%; }

nav {
  background-color: #4cc8bb; }

.btn {
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border-radius: .188em;
  background-color: #3cc395;
  font-family: 'Bebas Neue Bold';
  font-size: 1em;
  line-height: 100%; }

/* ========================================================================== */
/*                                                                            */
/*                             LAYOUT
/* ========================================================================== */
.container {
  box-sizing: border-box;
  width: 100%;
  max-width: 1024px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1.125em;
  padding-left: 1.125em; }

.row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  box-sizing: border-box;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

@media screen and (max-width: 790px) {
  .hdr-top .row {
    display: block; } }

.l-logo {
  -webkit-flex-basis: 28.340080972%;
      -ms-flex-preferred-size: 28.340080972%;
          flex-basis: 28.340080972%;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1; }

.l-cart {
  -webkit-flex-basis: 27.530364372%;
      -ms-flex-preferred-size: 27.530364372%;
          flex-basis: 27.530364372%;
  -webkit-order: 3;
      -ms-flex-order: 3;
          order: 3; }

.l-search {
  -webkit-flex-basis: 44.129554656%;
      -ms-flex-preferred-size: 44.129554656%;
          flex-basis: 44.129554656%;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2; }

.l-cart {
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.l-logo, .l-search, .l-cart {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.l-left {
  width: 40%; }

.l-right {
  box-sizing: border-box;
  width: 45%;
  padding-top: 4.375em;
  padding-left: 4.26%;
  -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
          align-self: stretch; }

@media screen and (max-width: 790px) {
  .l-left {
    width: 50%; }
  .l-right {
    width: 50%; } }

@media screen and (max-width: 590px) {
  .l-left {
    width: 50%; }
  .l-right {
    width: 50%;
    padding-top: 4em; } }

@media screen and (max-width: 480px) {
  .l-right {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 0; }
  .l-left {
    width: 100%; } }

.l-centered {
  box-sizing: border-box;
  width: 88.967611336%;
  margin-right: auto;
  margin-left: auto; }

/* ========================================================================== */
/*                                                                            */
/*                             MODULE
/* ========================================================================== */
.logo {
  color: #3cc3b5;
  font-family: Lobster, cursive;
  font-size: 3.0625em; }

@media screen and (max-width: 790px) {
  .logo {
    float: left;
    width: 50%;
    transition: all .4s ease;
    font-size: 2.5em; } }

.menu li {
  list-style: none; }

.menu li a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: #fff;
  font-family: Bebas Neue Bold, sans-serif; }

.menu[role='horizontal'] {
  box-sizing: border-box;
  height: 2.25em;
  list-style: none;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.menu[role='horizontal'] li {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.menu[role='horizontal'] li:not(:last-child)::after {
  box-sizing: border-box;
  height: 1.065em;
  content: '';
  border-left: 2px solid #fff; }

.menu[role='horizontal'] li a {
  padding-right: 1.438em;
  padding-left: 1.438em;
  font-size: 1.1em;
  line-height: 2.25em; }

.menu[role='horizontal'] li:first-child a {
  padding-left: 0; }

.menu[role='horizontal'] li:last-child a {
  padding-right: 0; }

.dropdown {
  position: relative;
  display: none;
  box-sizing: border-box;
  height: 1.9375em;
  margin-right: .8em;
  padding-right: 1.5em;
  padding-left: .8em;
  background-color: #3cc3b5; }
  .dropdown:hover > ul {
    visibility: visible;
    margin-top: 0;
    opacity: 1; }

.dropdown-title {
  font-family: Bebas Neue Bold, sans-serif;
  font-size: 1em;
  line-height: 1.9375em; }

.menu[role='dropdown'] {
  position: absolute;
  z-index: 5;
  top: 10;
  left: 0;
  visibility: hidden;
  margin-top: .5em;
  transition: all .2s ease-in-out;
  opacity: 0;
  background-color: #3cc3b5;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.35); }

.menu[role='dropdown'] li {
  border-bottom: 1px solid #fff; }

.menu[role='dropdown'] li a {
  padding-top: .4em;
  padding-right: .8em;
  padding-bottom: .4em;
  padding-left: .8em;
  font-size: 1em; }

.menu[role='dropdown'] li:last-child {
  border: none; }

.caret {
  position: relative;
  top: -1.1397058824em;
  right: -100%;
  margin-left: .4em; }

.caret:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  border-top: .353em solid #fff;
  border-right: .353em solid transparent;
  border-left: .353em solid transparent; }

.caret:after {
  position: absolute;
  top: 0;
  left: 2px;
  content: '';
  border-top: .235em solid #3cc3b5;
  border-right: .235em solid transparent;
  border-left: .235em solid transparent; }

@media screen and (max-width: 1016px) {
  .menu[role='horizontal'] li a {
    padding-right: 1.2em;
    padding-left: 1.2em; } }

@media screen and (max-width: 957px) {
  .menu[role='horizontal'] li a {
    padding-right: 1.1em;
    padding-left: 1.1em; } }

@media screen and (max-width: 926px) {
  .menu[role='horizontal'] li a {
    padding-right: 1em;
    padding-left: 1em; } }

@media screen and (max-width: 895px) {
  .menu[role='horizontal'] li a {
    padding-right: .9em;
    padding-left: .9em; } }

@media screen and (max-width: 863px) {
  .menu[role='horizontal'] li a {
    padding-right: .8em;
    padding-left: .8em; } }

@media screen and (max-width: 831px) {
  .menu[role='horizontal'] li a {
    padding-right: .7em;
    padding-left: .7em; } }

@media screen and (max-width: 790px) {
  nav {
    display: none; }
  .dropdown {
    display: block; } }

.hdr-top {
  height: 5.25em; }

@media screen and (max-width: 790px) {
  .hdr-top {
    height: auto; } }

.icon-cart {
  width: 20%;
  height: 2.25em;
  padding: .3125em;
  fill: #3cc3b5; }

.price {
  box-sizing: border-box;
  padding-top: .25em;
  color: #a1a1a1;
  font-family: 'Bebas Neue Bold';
  font-size: 1.838em; }

@media screen and (max-width: 790px) {
  .cart {
    width: 50%;
    margin-top: .7em;
    transition: all .4s ease;
    font-size: 1.1em; } }

input.search-input {
  box-sizing: border-box;
  width: 100%;
  height: 1.9375em;
  padding-right: 2em;
  padding-left: .5em;
  color: #e1e1e1;
  border: 1px solid #e1e1e1;
  outline: none;
  background-color: #fff;
  background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%225%20-10%2064.639381%2091.543002%22%20fill%3D%22%23e3e3e3%22%3E%3Cpath%20d%3D%22M31.5-9.998C10.656-9.998-6.312%206.94-6.312%2027.784c0%2020.848%2016.968%2037.812%2037.812%2037.812%205.744%200%2011.182-1.29%2016.062-3.594l16.75%2016.75c1.805%201.8%204.187%202.782%206.75%202.782%202.627%200%205.127-1.038%207-2.907%203.82-3.82%203.855-9.99.094-13.75L62.563%2049.284c4.237-6.102%206.72-13.522%206.72-21.5%200-20.844-16.94-37.78-37.782-37.78zm0%2015.125c12.507%200%2022.656%2010.15%2022.656%2022.656%200%2012.51-10.15%2022.688-22.656%2022.688-12.505%200-22.688-10.177-22.688-22.687%200-12.505%2010.182-22.656%2022.688-22.656z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-position: 98% center;
  background-size: 1.4em 1.4em; }
  input.search-input:focus {
    border: 1px solid #3cc3b5;
    background-image: none; }

@media screen and (max-width: 790px) {
  .search {
    clear: both;
    width: 100%;
    margin: .7em auto; } }

.hdr-banner {
  background-color: #3cc3b5;
  background-image: radial-gradient(circle, #3cc3b5, #3abbae, #37b3a7);
  background-size: .2em .2em;
  box-shadow: inset 0 3px 3px -3px rgba(0, 0, 0, 0.3); }

.gallery .flickity-page-dots {
  bottom: 2.125em; }

.gallery .flickity-page-dots .dot {
  width: .5625em;
  height: .5625em;
  opacity: 1;
  background: #fff; }

.gallery .flickity-page-dots .dot.is-selected {
  background: rgba(255, 255, 255, 0.5); }

.gallery {
  width: 100%;
  height: auto;
  max-height: 27.875em; }

.gallery-cell {
  width: 100%;
  min-height: 27.875em;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .gallery-cell img {
    display: block;
    max-width: 100%;
    margin: 0 auto; }

.bnr-title {
  margin: 0;
  font-family: Bebas Neue Bold, sans-serif;
  font-size: 3.5em; }

.bnr-title:nth-of-type(2) {
  margin-top: -.179em; }

.bnr-desc {
  width: 90%;
  margin-top: .5em;
  margin-bottom: 1.8em;
  font-family: Open Sans, sans-serif;
  font-size: 1em; }

.bnr-btn {
  padding-top: .4em;
  padding-right: 1.087em;
  padding-bottom: .4em;
  padding-left: 1.087em;
  border: .144em solid #fff;
  border-radius: .304em;
  background-color: transparent;
  font-size: 1.438em; }

@media screen and (max-width: 670px) {
  .bnr-title {
    font-size: 3em; }
  .gallery .flickity-page-dots {
    bottom: 1em; } }

@media screen and (max-width: 590px) {
  .bnr-title {
    font-size: 2.3em; }
  .bnr-desc {
    margin-bottom: 1em;
    font-size: .9em; }
  .gallery-cell {
    min-height: 24em; }
  .bnr-btn {
    font-size: 1.3em; } }

@media screen and (max-width: 480px) {
  .bnr-desc {
    display: none; }
  .bnr-title {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5); }
  .bnr-btn {
    position: absolute;
    right: 1em;
    bottom: 1em;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5); }
  .gallery .flickity-page-dots {
    display: none; } }

.sldr-list-item {
  box-sizing: border-box;
  min-width: 33.333333333%;
  min-height: 192px;
  border-right: 1px solid #e7e7e7;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .sldr-list-item p {
    margin: 0;
    margin-top: -.2em;
    padding: 0;
    color: #afafaf;
    font-family: Bebas Neue Bold, sans-serif;
    font-size: 1.438em; }
  .sldr-list-item img {
    max-width: 100%;
    margin-left: 1px;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center; }

.slsr-list-right {
  box-sizing: border-box;
  margin-right: 20.06%;
  margin-left: -2em;
  padding-top: 3em; }

.sldr-btn {
  margin-top: .85em;
  padding: .5em .938em; }

.sldr-list .flickity-prev-next-button {
  width: 5.5em;
  height: 5.5em;
  border-radius: 0;
  background: transparent; }

.flickity-prev-next-button svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.flickity-prev-next-button .arrow {
  fill: #dbdbdb; }

.flickity-prev-next-button.previous {
  left: -7em; }

.flickity-prev-next-button.next {
  right: -7em; }

.flickity-prev-next-button:focus {
  outline: none;
  box-shadow: none; }

@media screen and (max-width: 1010px) {
  .slsr-list-right {
    margin-right: 15%; }
  .flickity-prev-next-button {
    display: none; } }

@media screen and (max-width: 950px) {
  .slsr-list-right {
    margin-right: 10%; } }

@media screen and (max-width: 900px) {
  .slsr-list-right {
    margin-right: 5%; } }

@media screen and (max-width: 860px) {
  .slsr-list-right {
    margin-right: 1%; }
  .sldr-list-item p {
    font-size: 1.3em; } }

@media screen and (max-width: 790px) {
  .slsr-list-right {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: .5em; }
  .sldr-list-item img {
    margin: 0 auto; }
  .slsr-list-right p {
    margin: 0;
    padding: 0;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5); }
  .sldr-btn {
    position: absolute;
    right: .5em;
    bottom: .5em; } }

@media screen and (max-width: 480px) {
  .slsr-list-right p {
    float: left;
    margin-right: .3em;
    font-size: 1.2em; }
  .sldr-btn {
    font-size: .9em; }
  .sldr-list-item {
    width: 50%; } }

.main-header {
  background-color: #3cc3b5;
  background-image: radial-gradient(circle, #3cc3b5, #3abbae, #37b3a7);
  background-size: .2em .2em;
  box-shadow: inset 0 3px 3px -3px rgba(0, 0, 0, 0.3); }

.main-header-title {
  box-sizing: border-box;
  margin: 0;
  margin-left: 1.438em;
  padding: 0;
  letter-spacing: .04em;
  font-family: Bebas Neue Bold, sans-serif;
  font-size: 1.563em;
  line-height: 2.8em; }

.main-gallery {
  margin-top: 2.9375em;
  margin-bottom: 1.625em; }

.main-gallery-item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  box-sizing: border-box;
  width: 29.010238908%;
  max-width: 255px;
  max-height: 260px;
  margin-right: 6.484641638%;
  margin-bottom: 2.938em;
  padding-top: 2em;
  padding-bottom: 1.875em;
  color: #afafaf;
  border-bottom: .313em solid #3cc395;
  box-shadow: 0 0 .188em #afafaf;
  font-family: Bebas Neue Bold, sans-serif;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.main-gallery-item:nth-child(3n) {
  margin-right: 0; }

.main-gallery-item img {
  max-width: 100%; }

.item-title {
  margin-top: .3em;
  margin-bottom: .304em;
  letter-spacing: .04em;
  font-size: 1.438em;
  line-height: 100%; }

.price-info {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.item-price {
  display: block;
  margin-right: .65em;
  font-family: Bebas Neue Bold, sans-serif;
  font-size: 1.438em;
  line-height: 100%; }

.item-btn {
  padding: .563em .7143em; }

@media screen and (max-width: 790px) {
  main .row {
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  main .l-centered {
    width: 100%; }
  .main-gallery-item:nth-child(2n) {
    margin-right: 0; }
  .main-gallery-item:nth-child(3n) {
    margin-right: 6%; }
  .main-gallery-item:last-child {
    margin-right: 0; }
  .main-gallery-item {
    width: 45%;
    margin-bottom: 6%; } }

@media screen and (max-width: 480px) {
  .main-gallery-item {
    box-sizing: border-box;
    width: 255px;
    margin-right: 0;
    margin-bottom: 6%; }
  .main-gallery-item:nth-child(3n) {
    margin-right: 0; } }

footer {
  background-color: #3cc3b5; }

footer .row {
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.footer-top {
  padding-top: 2.938em;
  padding-bottom: 2.5em; }

.footer-top-col {
  box-sizing: border-box;
  margin-right: 11.945392491%; }

.footer-top-col:last-child {
  margin-right: 0; }

.footer-col-title {
  margin: 0;
  margin-bottom: .68em;
  font-family: Bebas Neue Bold, sans-serif;
  font-size: 1.563em;
  line-height: 100%; }

.footer-col-list {
  margin-left: .313em;
  list-style: none;
  line-height: 160%; }

.footer-col-list a {
  text-decoration: none;
  color: #fff;
  font-family: Open Sans, sans-serif;
  font-size: .938em; }

.footer-bottom {
  min-height: 2.875em;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1); }

.copyright {
  font-family: Open Sans, sans-serif;
  font-size: .938em;
  line-height: 2.875em; }

@media screen and (max-width: 950px) {
  .footer-top-col {
    margin-right: 9%; } }

@media screen and (max-width: 840px) {
  .footer-top-col {
    margin-right: 7%; } }

@media screen and (max-width: 780px) {
  footer .l-centered {
    width: 100%; }
  .footer-top-col {
    margin-right: 5%; } }

@media screen and (max-width: 650px) {
  .footer-top-col {
    margin-right: 3%;
    margin-bottom: 2.5em; } }

@media screen and (max-width: 610px) {
  footer .row {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
  .footer-top-col {
    width: 35%;
    margin-right: 0; } }

@media screen and (max-width: 480px) {
  .footer-top-col {
    width: 40%; } }

/*------------------------------------*\
   State
\*------------------------------------*/